.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: #d3dae4a9;
  margin-top: 5mm;
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.normal-text-field {
  width: 30ch;
  font-size: 15;
  height: 3ch;
  text-align: center;
  margin: 5px;
}

.text-area-field {
  resize: none;
  width: 31ch;
  font-size: 18;
  height: 15ch;
  text-align: left;
  margin: 5px;
}

.big-text-area {
  resize: none;
  width: 60ch;
  font-size: 18;
  height: 15ch;
  text-align: left;
  margin: 5px;
}

.form-style {
  flex-wrap: wrap;
}

.date-picker {
  width: 30ch;
  font-size: 15;
  height: 3ch;
  text-align: center;
  margin: 3px;
  background-color: rgb(170, 170, 170);
  color: rgb(84, 84, 84);

  cursor: default;
}

.error {
  font-size: 8pt;
  color: red;
}
